nav {
    background-color: #f333;
    width: 100%;
    padding: 14px 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0px, 0px;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('Asset/web-BG.png');
    background-size: cover;
    background-position: center , fixed;
    
}
.box {
    width: 20%;
    height: 100%;
    border: 2px solid #000;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #333;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}